.board {
  border: 2px solid black;
  margin: 8px;
}

.cardStacks {
  display: flex;
  justify-direction: row;
  justify-content: center;
}

.research {
  border: 2px solid black;
  width: 120px;
  height: 470px;
  margin: 8px;
}

.mid {
  display: flex;
}

