.board {
  border: 2px solid black;
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.cardStacks {
  display: flex;
  justify-direction: row;
  justify-content: center;
}

.research {
  border: 2px solid black;
  width: 120px;
  height: 470px;
  margin: 8px;
}

.explorationDeck {
  flex-direction: column;
  margin-left: 90px;
  margin-top: 90px;
}

.middle {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.end {
  width: 20%;
  flex-direction: column;
  margin-top: 30px;
}

.reference {
  padding: 12px;
  border: 1px solid black;
}
