.cardSlot {
  width: 104px;
  height: 144px;
  border: 1px solid black;
  margin: 8px;
  margin-top: 24px;
  position: relative;
}

.worker {
  position: absolute;
  opacity: 0.1;
}

.dragHover {
  opacity: 0.4;
}
