.cardStacks {
  /* display: flex; */
  /* justify-direction: row; */
  /* justify-content: center; */
}

.cardMarket {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}
