.hex:hover {
  cursor: pointer;
}

.unlocked {
  fill: blue;
}

.hexText {
  font-size: 1.1em;
  font-weight: bold;
  fill: white;
  fill-opacity: 0.7;
  transition: fill-opacity .5s;
}

.resourceCounter {
  width: 30px;
  margin-right: 16px;
}

.counters {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 9px;
}
